/* Inicia cambio de estilo de scroll bar
::-webkit-scrollbar {
  background: #d4d4d4;
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
} */
/*Finaliza cambio de estilo scroll bar*/
/*CAROUSEL al contenedor padre se le deja el tamaño del 100%*/
#carousel {
  width: 100%;
  height: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}
/*en la clase del carousel se realiza independiente para que ahi pueda agregar el escroll X*/
.carousel {
  overflow-x: scroll;
}
/*el texto ya esta centrado ya que se le dio el ancho del 100% al contenedor padre*/
#carousel p {
  color: #134a73;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 40px;
}
/* se le da el tamaño que se desea para la visulizacion de las imagenes ya que en el contenedor de la clase de carousel es donde estara creado el scroll*/
#carousel .gallery {
  display: flex;
  flex-direction: row;
  width: 2500px;
  height: 70vh;
}

#carousel .item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
}

#carousel .item:hover {
  flex: 15%;
}

/*fotos*/

#carousel .item1 {
  background-image: url("https://img.freepik.com/foto-gratis/concepto-idea-bombilla_23-2149105833.jpg?size=626&ext=jpg");
}
#carousel .item2 {
  background-image: url("https://i.ibb.co/XVJg8CF/17c.jpg");
}
#carousel .item3 {
  background-image: url("https://i.ibb.co/k8Xqh6V/1C.jpg");
}
#carousel .item4 {
  background-image: url("https://i.ibb.co/JQv0sJm/3a.jpg");
}
#carousel .item5 {
  background-image: url("https://i.ibb.co/Vm7CHcY/655c.jpg");
}
#carousel .item6 {
  background-image: url("https://i.ibb.co/Qdr9HW4/11c.jpg");
}
#carousel .item7 {
  background-image: url("https://i.ibb.co/hg7mHLs/19c.jpg");
}
#carousel .item8 {
  background-image: url("https://i.ibb.co/Zxj8srB/111c.jpg");
}

#carousel .item9 {
  background-image: url("https://i.ibb.co/Yt7HhvX/10c.jpg");
}
#carousel .item10 {
  background-image: url("https://i.ibb.co/h7ZHQTc/333c.jpg");
}
#carousel .item11 {
  background-image: url("https://i.ibb.co/dJZ5JW4/18c.jpg");
}
#carousel .item12 {
  background-image: url("https://i.ibb.co/1LM3t5n/5c.jpg");
}
/*se agrego el cursos para que sepa que esta en cada imagen*/
.gallery .item:hover {
  cursor: pointer;
}
